/* Grid system */
.title {  grid-area: tt;}
.banner {grid-area: bn;}
.block {
  display: grid;
  margin-bottom: 20px;
  padding: 15px 25px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 25px;
  grid-template-areas:
    "tt"
    "bn"
}

@media only screen and (max-width: 600px) {
  .block {
    grid-gap: 15px;
  }
}

