h1 {
  display: block;
   font-size: 2em;
   font-weight: bold;
}

h2 {
  display: block;
   font-size: 1.5em;
   font-weight: bold;
}

h3 {
  display: block;
   font-size: 1.2em;
   font-weight: bold;
   margin-bottom: 10px;
}

b {
  /*font-weight: bold;*/
}

body {
  font-size: 14px;
  font-family: "Gadugi";
  color: #eee;
  background: #393333;
  padding: 15px;
}

a {
  color: #f66754;
}

.website {
  width: 1025px; /* 315*3+25*2+15*2 */
  margin: 0 auto;
}

.header,
.block {
  box-shadow: 0px 0px 15px #000;
  border-radius: 5px;
  background: #222;
}

.header > * {
  padding: 15px;
  margin-bottom: 20px;
}



.block > * {
  margin: 0;
}

.img > img {
  box-shadow: 0px 0px 15px #000;
}

.img > iframe {
  box-shadow: 0px 0px 15px #000;
}

.block > p {
  margin: 0 0 0 0;
}

.footer > * {
  text-align: right;
}

.content ul {
  list-style-type: none;
  padding-left: 10px;
}

.content li {
  padding-bottom: 10px;
}

.cv-section {
  margin-bottom: 20px;
}
