h1 {
   display: block;
   font-size: 2em;
   font-weight: bold;
}

h2 {
   display: block;
   font-size: 1.5em;
   font-weight: bold;
}

h3 {
   display: block;
   font-size: 1.2em;
   font-weight: bold;
   margin-bottom: 10px;
}

b {
  /*font-weight: bold;*/
}

body {
  font-size: 14px;
  font-family: "Gadugi";
  color: #eee;
  /*background: #393333;*/
  background: repeating-linear-gradient(
    -35deg,
    #111,
    #111 0px,
    #191919 5px,
    #191919 80px
  );
  padding: 15px;
  opacity: 0;
}

/* fading */
.loaded {
  animation: fadeIn ease .7s;
  opacity: 1;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

a {
  color: #f66754;
  text-decoration:none;
}

.website {
  width: 920px;
  margin: 0 auto;
}

.header,
.subheader,
.footer,
.block {
  box-shadow: 0px 0px 15px #000;
  border-radius: 5px;
  background: #191919;
}

.header {
  padding: 20px 25px;
  margin-bottom: 20px;
}

.subheader > * {
  padding: 15px 25px;
  margin-bottom: 20px;
}

.block > * {
  margin: 0;
}


img,video {
  box-shadow: 0px 0px 15px #000;
}

.img > iframe {
  box-shadow: 0px 0px 15px #000;
}

.block > p {
  margin: 0 0 0 0;
}

.footer > * {
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}

img,iframe,video {
  border-radius: 5px;
}

.social-icon {
  box-shadow: 0px #000;
  border-radius: 0px;
}

.content ul {
  list-style-type: none;
  padding-left: 10px;
}

.content li {
  padding-bottom: 10px;
}

.cv-section {
  margin-bottom: 20px;
}

.animate1 {
  transition: all .25s;
}
.animate1:hover {
	transform: translateX(50px) scale(1.1);
}

.animate2 {
  transition: all .25s;
}

.animate2:hover {
	transform: scale(1.02);
}

.animate3 {
  transition: all .25s;
}

.animate3:hover {
	transform: translateX(15px) scale(1.03);
}

.animate_img {
  transition: all .3s;
}

.animate_img:hover {
	/*transform: scale(1.02) rotate(1.5deg);*/
  transform: scale(1.02);
}