h1 {
   display: block;
   font-size: 2em;
   font-weight: bold;
}

h2 {
   display: block;
   font-size: 1.5em;
   font-weight: bold;
}

h3 {
   display: block;
   font-size: 1.2em;
   font-weight: bold;
   margin-bottom: 10px;
}

b {
  /*font-weight: bold;*/
}

body {
  font-size: 14px;
  font-family: "Gadugi";
  color: #eee;
  /*background: #393333;*/
  /*background: repeating-linear-gradient(
    -45deg,
    #222,
    #222 0px,
    #393333 10px,
    #393333 80px
  );*/
  background: repeating-linear-gradient(
    -15deg,
    #91d0ed,
    #91d0ed 5px,
    #393333 15px,
    #393333 70px
  );
  padding: 15px;
}

a {
  color: #f66754;
  text-decoration:none;
}

.website {
  width: 920px;
  margin: 0 auto;
}

.header,
.subheader,
.footer,
.block {
  box-shadow: 0px 0px 15px #000;
  border-radius: 5px;
  background: #222;
}

.header {
  padding: 30px 25px;
  margin-bottom: 20px;
}

.subheader > * {
  padding: 15px 25px;
  margin-bottom: 20px;
}

.block > * {
  margin: 0;
}

img {
  box-shadow: 0px 0px 15px #000;
}

.img > iframe {
  box-shadow: 0px 0px 15px #000;
}

.block > p {
  margin: 0 0 0 0;
}

.footer > * {
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}

img,iframe {
  border-radius: 5px;
}
.content ul {
  list-style-type: none;
  padding-left: 10px;
}

.content li {
  padding-bottom: 10px;
}

.cv-section {
  margin-bottom: 20px;
}

.animate1 {
  transition: all .5s;
}
.animate1:hover {
	transform: translateX(100px) scale(1.2);
}

.animate2 {
  transition: all .5s;
}

.animate2:hover {
	transform: scale(1.02);
}

.animate3 {
  transition: all .5s;
}

.animate3:hover {
	transform: translateX(15px) scale(1.03);
}

.animate_img {
  transition: all .5s;
}

.animate_img:hover {
	transform: scale(1.02) rotate(1.5deg);
}

.animate_img_alt {
  transition: all .5s;
}

.animate_img_alt:hover {
	transform: scale(1.02) rotate(-1.5deg);
}


/* https://codepen.io/FelixRilling/pen/vNJoMy */
h1 {
  /*Create overlap*/
  margin: 0;
  line-height: 0;
  /*Animation*/
  animation: glitch1 2.5s infinite;
}

h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
